@{
    ViewData["Title"] = "About";
}
<div class="row">
    <div class="col-md-12 banner"><center><h1>Max's Barber Shop</h1></center></div>
</div>
<div class="row">
    <div class="col-md-12">
        <b><h4>| @ViewData["Title"]</h4></b>
        <p>
            This is a simple Barber shop booking system.<br/>
            you can book for you hair cut and pay later,<br/>
            or pay her on the system using ipay payment system<br/>
            we get a lot of booking request so please be on time<br/>
        </p>
    </div>
</div>

<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
