@{
    ViewData["Title"] = "Booking Page";
    
}
<div class="row">
    <div class="col-md-12 banner"><center><h1>Max's Barber Shop</h1></center></div>
</div>
<div class="row">
    <div class="col-md-12">
        <b><h4>| @ViewData["Title"]</h4></b>
        <p>
            This is a simple Barber shop booking system.<br/>
            you can book for you hair cut and pay later,<br/>
            or pay her on the system using ipay payment system<br/>
            we get a lot of booking request so please be on time<br/>
            | @ViewData["Message"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <u><h3>Books</h3></u>

<!--<script src="~/js/jquery-1.11.3.min.js"></script>-->
<script src="~/js/daypilot-all.min.js" type="text/javascript"></script>
<div id="dp"></div>
<script type="text/javascript">
  var dp = new DayPilot.Calendar("dp");
    
  dp.viewType = "Week";
  dp.events.list = @Html.Raw(ViewData["Message"]);
  dp.init();

</script>

</div>

    <div class="col-md-3 overview">
        <h2>Overview</h2>
        <ul>
            <li><a href="#">Regular style</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Discounts</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Documentations</a></li>
        </ul>
    </div>
</div>

