@{
    ViewData["Title"] = "Booking Page";
}
<div class="row">
    <div class="col-md-12 banner"><center><h1>Max's Barber Shop</h1></center></div>
</div>
<div class="row">
    <div class="col-md-12">
        <b><h4>| @ViewData["Title"]</h4></b>
        <p>
            This is a simple Barber shop booking system.<br/>
            you can book for you hair cut and pay later,<br/>
            or pay her on the system using ipay payment system<br/>
            we get a lot of booking request so please be on time<br/>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <u><h3>Book</h3></u>
        <form class="form" placeholder="Register">
           <h4>Booking table here for week overview...</h4>
        </form>
    </div>
        
    <div class="col-md-3 overview">
        <h2>Overview</h2>
        <ul>
            <li><a href="#">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="#">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="#">Working with Data</a></li>
            <li><a href="#">Security</a></li>
            <li><a href="#">Conceptual overview of what is ASP.NET Core</a></li>
            <li><a href="#">Fundamentals of ASP.NET Core such as Startup and middleware.</a></li>
            <li><a href="#">Working with Data</a></li>
            <li><a href="#">Security</a></li>
        </ul>
    </div>
</div>