@{
    ViewData["Title"] = "Contact";
}

<div class="row">
    <div class="col-md-12 banner"><center><h1>Max's Barber Shop</h1></center></div>
</div>
<div class="row">
    <div class="col-md-12">
        <b><h4>| @ViewData["Title"]</h4></b>
        
    </div>
</div>

<address>
    <abbr title="Phone">Phone: </abbr>
    0813203522
</address>

<address>
    <strong>Developer:</strong> <a href="mailto:Ncebasobikwa1@hotmail.com">Ncebasobikwa1@hotmail.com</a>
</address>
