@{
    ViewData["Title"] = "login Page";
}
<div class="row">
    <div class="col-md-12 banner"><center><h1>Max's Barber Shop</h1></center></div>
</div>
<div class="row">
    <div class="col-md-12">
        <b><h4>| @ViewData["Title"]</h4></b>
        <p>
            This is a simple Barber shop booking system.<br/>
            you can book for you hair cut and pay later,<br/>
            or pay her on the system using ipay payment system<br/>
            we get a lot of booking request so please be on time<br/>
            @ViewData["Message"]
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        
    <div class="row">
        <div class="col-md-9 overview">
        <u><h3>Login</h3></u>
        <form class="form" action="/Home/Loging_in" method="post" placeholder="Login">
            <div class="form-group">
            <input type="email" name="email" class="form-control"  placeholder="Email Address" required/>
            </div>
            <div class="form-group">
            <input type="password" name="password" class="form-control"  placeholder="Password" required/>
            </div>
            <div class="form-group">
            <input type="submit" name="login" class="btn btn-primary" value="Login"/> Or <a href="/Home/Register">Register</a>
            </div>
        </form>
        </div>
    </div>

    </div>

    <div class="col-md-3 overview">
        <h2>Overview</h2>
        <ul>
            <li><a href="#">Regular style</a></li>
            <li><a href="#">Specials</a></li>
            <li><a href="#">Discounts</a></li>
            <li><a href="#">Help & Support</a></li>
            <li><a href="#">Documentations</a></li>
        </ul>
    </div>
</div>

